:root {
    /* ----- Colors ----- */
    --color-sidebar: #1e1f22;
    --color-background: #313338;
}

body {
    margin: 0;

    color: white;
    background-color: var(--color-background);

    font-family: Arial, Helvetica, sans-serif;
}

.app {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;

    overflow: hidden;
}

.app-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page-container {
    flex: 1;
    margin: 10px;
    overflow: scroll;
}

.header {
    font-weight: bold;
    font-size: 2em;
    display: block;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row,
.flex-col {
    gap: 10px;
    width: 100%;
    height: 100%;
}

.flex-1 {
    flex: 1;
}

.container {
    background-color: #1e1f2299;

    border-radius: 10px;

    min-width: 50px;

    padding: 20px;
    margin: 5px;
}

.container.focused {
    padding: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: #EB459E;
}

.button {
    background-color: #5865F2;
    color: white;

    border: none;
    border-radius: 10px;

    padding: 5px 20px;

    outline: none;

    transition: 0.2s;
}

.button.success {
    background-color: #3cb362;
}

.button.error {
    background-color: #ED4245;
}

.button:hover {
    filter: brightness(125%);
}

.button:disabled {
    filter: brightness(75%);
}

.input {
    background-color: #1e1f22;
    color: white;

    border: none;
    border-radius: 5px;

    padding: 10px 10px;

    outline: none;
}

.jumbo {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}